*{
  margin: 0;
  
  
}
body {
  /* margin: 0; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#billa{
  position: relative;
}
#billa:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -.25 rem;
  height: 25px;
  background-color: black;
}
header{
  background-color:#313335;
  color: white;
  flex-direction: column;
  background-image: url(/src/images/IMG.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 30px;
  height: 556px;
  width: auto;
  z-index: -1;
}
.class1{animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.class2{animation:animatezoom1 0.6s}@keyframes animatezoom1{from{transform:scale(0)} to{transform:scale(1)}}
#name1{
  color:rgb(126 233 60);
}
.headposi{
  
padding-top: 186px;
padding-left: 80px;
}

#dummy{
  background-color: rgb(126 233 60) ;
  height: 1px;
}
.svgcol{
  color: rgb(126 233 60) ;
}
br{
  border-right: solid black 1px;
}
footer{
  background-color: #13171f;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
#foohead{
  text-decoration: underline;
  text-decoration-color: rgb(126 233 60);
  text-underline-offset: 5px;
  padding: 30px 5px;
}
#fooheading{
  color: white;

}
section{
  background-color: #313335;
color:  white;
padding-left: 20px;
padding-bottom: 50px;}
.card{
  margin: auto;
  border: solid 1px  rgb(126 233 60);
}
p{
  text-justify:distribute-all-lines;
  text-align: left;
}
@media only screen and (max-width:500px) {
  header{
    background-position-y: top;
    background-position-x: center;
    background-size:50%;
    padding-top: 13%;
    
  }
  .row{
    width: 300px;
    padding-left: 10%;
  }
.headposi{
  padding-left: 10%;
  
}
}